@import "Home/Home";
@import "Home/Pair/Pair";
@import "~react-bootstrap-table/dist/react-bootstrap-table.min.css";
@import "~react-bootstrap-table/css/react-bootstrap-table.css";

.searchButton {
  margin-bottom: 30px
}
.app-container {
}
.Save-Load {
        align-items: center;}
.checky{
  margin-right: 15px;
}
.pair {
  margin: auto;
}
.pair-table {
  table, th, td {
    border: 1px solid black;
  }

  td {
    padding: 10px;
    margin: 5px;
  }
}
.col-hidden {
  display: none
}

